<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555501224513-p3lefcebav92pa7m9qnmigd9q6kelagu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555501224513-p3lefcebav92pa7m9qnmigd9q6kelagu</string>
	<key>API_KEY</key>
	<string>AIzaSyB_vDMX4DjGodup26wzEJmytGpxlADYFi8</string>
	<key>GCM_SENDER_ID</key>
	<string>555501224513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stac.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stac-just01</string>
	<key>STORAGE_BUCKET</key>
	<string>stac-just01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555501224513:ios:a6e4bca81daee00eb3fcc0</string>
	<key>DATABASE_URL</key>
	<string>https://stac-just01-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>